/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/legal.xml
/C/mahjongg.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/mahjongg.xml
/cs/cs.po
/cs/mahjongg.xml
/de/de.po
/de/mahjongg.xml
/el/el.po
/el/mahjongg.xml
/en_GB/en_GB.po
/en_GB/mahjongg.xml
/es/es.po
/es/mahjongg.xml
/eu/eu.po
/eu/mahjongg.xml
/fr/fr.po
/fr/mahjongg.xml
/it/it.po
/it/mahjongg.xml
/mahjongg-C.omf
/mahjongg-ca.omf
/mahjongg-cs.omf
/mahjongg-de.omf
/mahjongg-el.omf
/mahjongg-en_GB.omf
/mahjongg-es.omf
/mahjongg-eu.omf
/mahjongg-fr.omf
/mahjongg-it.omf
/mahjongg-oc.omf
/mahjongg-sv.omf
/oc/mahjongg.xml
/oc/oc.po
/so_locations
/sv/mahjongg.xml
/sv/sv.po
/tags
