/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/gnometris.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/gnometris.xml
/cs/cs.po
/cs/gnometris.xml
/de/de.po
/de/gnometris.xml
/el/el.po
/el/gnometris.xml
/en_GB/en_GB.po
/en_GB/gnometris.xml
/es/es.po
/es/gnometris.xml
/eu/eu.po
/eu/gnometris.xml
/fi/fi.po
/fi/gnometris.xml
/fr/fr.po
/fr/gnometris.xml
/gnometris-C.omf
/gnometris-ca.omf
/gnometris-cs.omf
/gnometris-de.omf
/gnometris-el.omf
/gnometris-en_GB.omf
/gnometris-es.omf
/gnometris-eu.omf
/gnometris-fi.omf
/gnometris-fr.omf
/gnometris-it.omf
/gnometris-oc.omf
/gnometris-sv.omf
/gnometris-zh_CN.omf
/it/gnometris.xml
/it/it.po
/oc/gnometris.xml
/oc/oc.po
/so_locations
/sv/gnometris.xml
/sv/sv.po
/tags
/zh_CN/gnometris.xml
/zh_CN/zh_CN.po
