/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/legal.xml
/C/same-gnome.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ca/ca.po
/ca/legal.xml
/ca/same-gnome.xml
/cs/cs.po
/cs/legal.xml
/cs/same-gnome.xml
/de/de.po
/de/legal.xml
/de/same-gnome.xml
/el/el.po
/el/legal.xml
/el/same-gnome.xml
/en_GB/en_GB.po
/en_GB/legal.xml
/en_GB/same-gnome.xml
/es/es.po
/es/legal.xml
/es/same-gnome.xml
/eu/eu.po
/eu/legal.xml
/eu/same-gnome.xml
/fr/fr.po
/fr/legal.xml
/fr/same-gnome.xml
/it/it.po
/it/legal.xml
/it/same-gnome.xml
/oc/legal.xml
/oc/oc.po
/oc/same-gnome.xml
/ru/legal.xml
/ru/ru.po
/ru/same-gnome.xml
/same-gnome-C.omf
/same-gnome-ca.omf
/same-gnome-cs.omf
/same-gnome-de.omf
/same-gnome-el.omf
/same-gnome-en_GB.omf
/same-gnome-es.omf
/same-gnome-eu.omf
/same-gnome-fr.omf
/same-gnome-it.omf
/same-gnome-oc.omf
/same-gnome-ru.omf
/same-gnome-sv.omf
/so_locations
/sv/legal.xml
/sv/same-gnome.xml
/sv/sv.po
/tags
